.page-title {
    top: 0;
    background: #243744;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 10px;
}

.search-container {
    display: flex;
    background: #2b4658;
    width: 100%;
    padding: 15px;
    justify-content: center;
    gap: 10px;
}

#search-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#sort-menu {
    padding: 10px;
}

#movie-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.movie-frame {
    border-radius: 20px;
    border: 1px solid lightgray;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-frame img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.page-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    margin-top: 50px;
}

.page-info button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 15px;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
}

.page-info button:hover {
    cursor: pointer;
    background-color: #0074A6;
}
